<header>  
  <h1>Charley's Streaming App</h1>  
</header>

<%= link_to 'Playlist view', '/playlist'%>

<div class="clear"></div>  
<section id="sidebar">  
    <h2>HTML5 Audio</h2>  
    <section id="audio">  
        No song is currently playing.  
    </section>  
  
    <h2>Upload a Song</h2>  
    <%= form_tag upload_path, :method => "post", :multipart => true do %>  
        <%= file_field_tag "mp3file" %><br />  
        <%= submit_tag "Upload" %>  
    <% end %>  
</section>  
<section id="main">  
    <h2>Download/Delete Songs</h2>  
    <table>  
    <% @songs.each do |song| %>  
        <tr>  
            <td><%= song.key %></td>  
            <td><%= link_to "HTML5 Audio", download_url_for(song.key), :class => "html5" %></td>  
            <td><%= link_to "Download", download_url_for(song.key) %></td>  
            <td><%= link_to "Torrent", torrent_url_for(song.key) %></td>  
            <td><%= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %></td>  
        </tr>  
    <% end %>  
    </table>  
</section>  
<div class="clear"></div>